{{ define "main" }}

<!-- banner -->
<section class="banner bg-cover" style="background-image: url('{{ .Site.Params.banner.bgImage | relURL }}');">
  <img src="{{ .Site.Params.banner.image | relURL }}" class="img-fluid illustration" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1>{{ .Site.Params.banner.title | markdownify }}</h1>
      </div>
      <div class="col-lg-6 illustration-mobile">
        <img src="{{ .Site.Params.banner.image | relURL }}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<!-- svcicons -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="row shadow bg-white p-5">
          <div><h1>Service Lines</h1></div>
          <div class="d-flex flex-row flex-wrap mb-5">  
            <div class="p-2" style="width: 20%;">
              <a href="{{ "service/analytics_ml_tools" | relURL }}" ><img src="{{ `images/svc_icons/analytics_ml_tools.svg` | absURL }}" class="img-thumbnail"></a>
              <p class="text-center"><a href="{{ "service/analytics_ml_tools" | relURL }}" ><strong>Analytics & ML Tools</strong></a></p>
            </div> 
            <div class="p-2" style="width: 20%;">
              <a href="{{ "service/compute_engine" | relURL }}" ><img src="{{ `images/svc_icons/compute_engine.svg` | absURL }}" class="img-thumbnail">
              <p class="text-center"><a href="{{ "service/compute_engine" | relURL }}" ></strong>Compute Engine</strong></a></p>
            </div> 
            <div class="p-2" style="width: 20%;">
              <a href="{{ "service/containers" | relURL }}" ><img src="{{ `images/svc_icons/containers.svg` | absURL }}" class="img-thumbnail">
              <p class="text-center"><a href="{{ "service/containers" | relURL }}" ><strong>Containers</strong></a></p>
            </div> 
            <div class="p-2" style="width: 20%;">
              <a href="{{ "service/databases" | relURL }}" ><img src="{{ `images/svc_icons/databases.svg` | absURL }}" class="img-thumbnail">
              <p class="text-center"><a href="{{ "service/databases" | relURL }}" ><strong>Databases</strong></a></p>
            </div> 
            <div class="p-2" style="width: 20%;">
              <a href="{{ "service/dev_deploy_tool" | relURL }}" ><img src="{{ `images/svc_icons/dev_deploy_tool.svg` | absURL }}" class="img-thumbnail">
              <p class="text-center"><a href="{{ "service/dev_deploy_tool" | relURL }}" ><strong>Dev & Deploy Tools</strong></a></p>
            </div>  
            <div class="p-2" style="width: 20%;">
              <a href="{{ "service/identity_access_management" | relURL }}" ><img src="{{ `images/svc_icons/identity_access_management.svg` | absURL }}" class="img-thumbnail">
              <p class="text-center"><a href="{{ "service/identity_access_management" | relURL }}" ><strong>Identity & Access Management</strong></a></p>
            </div> 
            <div class="p-2" style="width: 20%;">
              <a href="{{ "service/network" | relURL }}" ><img src="{{ `images/svc_icons/network.svg` | absURL }}" class="img-thumbnail">
              <p class="text-center"><a href="{{ "service/network" | relURL }}" ><strong>Network</strong></a></p>
            </div> 
            <div class="p-2" style="width: 20%;">
              <a href="{{ "service/operations_insights" | relURL }}" ><img src="{{ `images/svc_icons/operations_insights.svg` | absURL }}" class="img-thumbnail">
              <p class="text-center"><a href="{{ "service/operations_insights" | relURL }}" ><strong>Operations Insights</strong></a></p>
            </div> 
            <div class="p-2" style="width: 20%;">
              <a href="{{ "service/personal_compute" | relURL }}" ><img src="{{ `images/svc_icons/personal_compute.svg` | absURL }}" class="img-thumbnail">
              <p class="text-center"><a href="{{ "service/personal_compute" | relURL }}" ><strong>Personal Compute</strong></a></p>
            </div> 
            <div class="p-2" style="width: 20%;">
              <a href="{{ "service/storage_backup" | relURL }}" ><img src="{{ `images/svc_icons/storage_backup.svg` | absURL }}" class="img-thumbnail">
              <p class="text-center"><a href="{{ "service/storage_backup" | relURL }}" ><strong>Storage & Backup</strong></a></p>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /svcicons -->

<!-- cta -->
{{ if .Site.Params.cta.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row shadow bg-white p-5">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="{{ .Site.Params.cta.image | relURL }}" class="mr-4" alt="..."></div>
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">{{ .Site.Params.cta.title | markdownify }}</h3>
            <p>{{ .Site.Params.cta.description | markdownify }}</p>
            {{ if .Site.Params.cta.button.enable }}
            <a href="{{ .Site.Params.cta.button.link | absURL }}"
              class="btn btn-primary">{{ .Site.Params.cta.button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /cta -->

{{ end }}